.header {
    background: url("main_images.jpg") center no-repeat;
    background-size: cover;
    height:530px;  
    display: flex;
    align-items: center;
    justify-content: center;  
   
}
.dark { 
    background:rgba(0,0,0,0.5);  
    height:530px;
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;  
    
}
