.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c4747;
    height: 30px; 
    width: 100%;
}
.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;   
}